.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .card-header {
    background-color: #fd3d3d;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-body p {
    margin-bottom: 10px;
  }
  
  .card-body p strong {
    font-weight: bold;
  }

  .card {
    max-width: fit-content;
  }
